spring:
  application:
    name: web1-service
  datasource:
    url: jdbc:postgresql://postgres:5432/serviceoriented
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
  cloud:
    consul:
      enabled: true
      host: consul
      port: 8500
      config:
        enabled: false
      discovery:
        enabled: true
        register: true
        service-name: ${spring.application.name}
        instance-id: ${spring.application.name}:${HOSTNAME:${random.value}}


server:
  port: 8080

